<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ picked }} 메뉴는 {{ picked|length }}글자입니다.</p>
    <h2>메뉴판</h2>
    <ul>
        {% for food in foods %}
        <li>{{ food }}</li>
        {% endfor %}
    </ul>
    <div>{{ foods }}</div>
    <div>{{ picked }}</div>
{% if foods|length == 0 %}
    <p>메뉴가 소진되었습니두~</p>
{% else %}
    <p>아직 메뉴 남았습니두~</p>
{% endif %}
</body>
</html>