{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-start">
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url "movies:index" %}">SSAFY</a>
          <a class="navbar-brand" href="{% url "movies:index" %}">INDEX</a>
          <a class="navbar-brand" href="{% url "movies:create" %}">CREATE</a>
          <a class="navbar-brand" href="{% url "accounts:update" %}">회원정보수정</a>
          <a class="navbar-brand" href="{% url "change_password" user.pk %}">비밀번호변경</a>
          <a class="navbar-brand" href="{% url "accounts:logout" %}">로그아웃</a>
          {% else %}
            <a class="navbar-brand" href="{% url "accounts:signup" %}">회원가입</a>
            br
            <a class="navbar-brand" href="{% url "accounts:login" %}">로그인</a>
          {% endif %}
        </div>
    </nav>


    
    {% block content %}
    {% endblock content %}
</body>
</html>